--title 'Attribute Filters for Rails'
--protected
--readme README.md
--no-private
--hide-void-return
-p docs/yard-tpl
-t default
-
docs/USAGE.md
docs/COMMON-FILTERS.md
docs/HISTORY
ChangeLog
docs/COPYING
docs/LGPL-LICENSE
